<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAu1HnIoVVxS4D0Q0KJ0tzmyi_u0oJ_5jE</string>
	<key>GCM_SENDER_ID</key>
	<string>22921355697</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.unlock444</string>
	<key>PROJECT_ID</key>
	<string>unlock-444</string>
	<key>STORAGE_BUCKET</key>
	<string>unlock-444.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:22921355697:ios:7e108ffa842d612d255d90</string>
</dict>
</plist>